*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #1F2421;
}
.signin{
    display: flex;
    flex-direction: column;
    width: 22rem;
    height: 24rem;
    background-color: rgb(22, 21, 21);
    padding: 2rem;

    border-top: 0.3rem solid pink;
    border-bottom: 0.3rem solid aqua;

    position: fixed;
    top: 22vh;
    left: 35vw;

}
h1{
    text-align: center;
    color: white;
}
input{
    font-size: 1.2rem;
    background-color: rgb(22, 21, 21);
    font-weight: bold;
    border-left-color: transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    margin-top: 1rem;
}
#input1{
    margin-bottom: 3rem;
}
span{
    color: rgb(118, 118, 118);
    font-size: 0.85rem;
    font-weight: bold;
}
.spancontent{
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    margin-bottom: 1.2rem;
}
#right{
    font-weight: 900;
    font-size: 1rem;
}
button{
    width: 7rem;
    font-size: 1rem;
    font-weight: bold;
    padding: 0.75rem;
    
}

